.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;  
    background-color: #930c57;
    color: white;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.5em;
  }
  
  .navbar-login {
    font-size: 1em;
    cursor: pointer;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f1f1f1;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 