

<header >
    <!-- <button class="hamburger" >
        <span></span>
        <span></span>
        <span></span>
    </button> -->
    <div class="header-content">
        <h1>RevTaskManagement</h1>
    </div>
    <nav class="navbar navbar-expand navbar px-2 justify-content-between">
      
  
      <div class="profile-logo dropstart">
          <a class="navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="assets/img.jpeg" alt="Logo" style="width:40px;" class="rounded-pill logo-right">
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
              <li><a routerLink="/profile" class="dropdown-item"><i class="bi bi-person-circle"></i> MyAccount</a></li>
              <li><a routerLink="/login" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> SignOut</a></li>
          </ul>
      </div>
    </nav>
    
  </header>
  
      
    <!-- <button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button> -->
    <!-- <button routerLink="/admin/users" routerLinkActive="active">Users</button> -->
    <!-- <button routerLink="/admin/view-task" routerLinkActive="active">View-Task</button>-->
    <!-- <button routerLink="/admin/view-projects" routerLinkActive="active">View-Projects</button> -->
    <!-- Add more buttons as needed -->



<!-- <div class="sidebar"  [class.visible]="isSidebarVisible" >
    <div><button class="hamburger" (click)="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </button></div>
    <div class="sidebar-header">Dashboard</div>
    <nav class="nav flex-column">
      <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Users</a>
      <a class="nav-link" routerLink="/admin/view-projects" routerLinkActive="active">View-Projects</a>
      <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a> 
    </nav>
  </div> -->
    